<style type="text/css">
  body,
  html, 
  .body {
    background: #f3f3f3 !important;
  }
  small.dark {
    color: #aaa !important;
  }
  sup.small {
    font-size: 65% !important;
  }
</style>

<container>
  <row class='banner'>
    <columns>
      <center>
        <img class='banner-image' src='https://s3-us-west-1.amazonaws.com/distru-prod/defaults/distru_logo_white_with_text.png' alt='The Distru Logo'>
      </center>
    </columns>
  </row>

  <spacer size="16"></spacer>

  <row>
    <columns>
      <p class="top-box">Please <b>do not reply</b> to this email, as this inbox is not monitored.</p>

      <p>Hi <raw><%= @invoice.company_relationship.related_company.name %></raw>,</p>

      <spacer size="16"></spacer>

      <p><raw><%= @invoice.company.name %></raw> sent you <strong>Invoice <raw><%= @invoice.invoice_number %></raw></strong> belonging to <strong>Order <raw><%= @invoice.order.order_number %></raw></strong>. Check out the invoice breakdown and download the full invoice below!</p>

      <spacer size="16"></spacer>

      <row>
        <columns>
          <center>
              <button href='<%= @download_url %>' target='_blank'>Download Full Invoice<sup class="small">1</sup></button>
          </center>
        </columns>
      </row>

      <div class='indented-section'>
          <div><b>From:</b> <raw><%= @invoice.company.name %></raw></div>
        <br />
        <div><b>Contact:</b> <raw><%= if(@invoice.owner, do: @invoice.owner.profile.full_name, else: "--") %></raw></div>
        <div><b>Email:</b> <raw><%= if(@invoice.owner, do: (@invoice.owner.email || @invoice.company.email || "--"), else: (@invoice.company.email || "--")) %></raw></div>
        <div><b>Phone:</b> <raw><%= if(@invoice.owner, do: (@invoice.owner.profile.work_phone || @invoice.owner.profile.phone || @invoice.company.phone || "--"), else: (@invoice.company.phone || "--")) %></raw></div>
      </div>

      <div class='indented-section'>
        <table>
          <tr class='table-header'><th><b>Line Item</b></th><th class='text-align-right'><b>Qty</b></th><th class='text-align-right'><b>Price</b></th></tr>
          <raw><%= for item <- @invoice.invoice_items do %></raw>
          <tr>
              <td><raw><%= item.order_item.product.name %></raw></td>
              <td class='text-align-right'>
                  <raw><%= if Distru.Services.Product.package_tracked?(item.order_item.product) && item.order_item.package_id do %></raw>
                  <raw><%= Distru.Helpers.UnitOfMeasure.pluralize(item.order_item.package.unit_type.name, item.quantity, true) %></raw>
                  <raw><% else %></raw>
                  <raw><%= Distru.Helpers.UnitOfMeasure.pluralize(item.order_item.product.unit_type.name, item.quantity, true) %></raw>
                  <raw><% end %></raw>
              </td>
              <td class='text-align-right'>
                  <raw><%= Number.Currency.number_to_currency(item.order_item.price) %></raw>
              </td>
          </tr>
          <raw><% end %></raw>
          <raw><%= for charge <- @invoice.invoice_charges do %></raw>
          <tr>
              <td><raw><%= charge.name %></raw></td>
              <td class='text-align-right'>1 <raw><%= charge.type %></raw></td>
              <td class='text-align-right'>
                  <raw><%= Number.Currency.number_to_currency(charge.price) %></raw>
              </td>
          </tr>
          <tr>
            <td colspan="2"><b>Paid:</b></td>
            <td class='text-align-right'>
                <b><raw><%= Number.Currency.number_to_currency(@invoice.paid || 0.0) %></raw></b>
            </td>
          </tr>
          <tr class='table-footer'>
            <td colspan="2"><b>Total:</b></td>
            <td class='text-align-right'>
                <b><raw><%= Number.Currency.number_to_currency(@invoice.total || 0.0) %></raw></b>
            </td>
          </tr>
          <tr class='table-footer'>
            <td colspan="2"><b>Balance Due:</b></td>
            <td class='text-align-right'>
                <b><raw><%= Number.Currency.number_to_currency(Decimal.sub(@invoice.total, @invoice.paid)) %></raw></b>
            </td>
          </tr>
        </table>
      </div>

      <raw><%= if @invoice.external_notes do %></raw>
      <div class='indented-section'>
        <spacer size="8"></spacer>
        <p><b>Message from <raw><%= @invoice.company.name %></raw>:</b></p>
        <br />
        <pre class='pre'>
          <raw><%= String.replace(@invoice.external_notes || "", "↵", "\n") || "--" %></raw>
        </pre>
      </div>
      <raw><% end %></raw>

      <br />

      <row>
        <columns>
          <center>
              <button href='<%= @download_url %>' target='_blank'>Download Full Invoice<sup class="small">1</sup></button>
          </center>
        </columns>
      </row>

      <p class='error'>This email contains sensitive information. If you received this by mistake, please contact <a href='mailto:hello@distru.com?subject=I%20Received%20This%20Email%20By%20Accident'>hello@distru.com</a> immediately and delete this email and all it's associated contents.</p>

      <br />
      <small class="dark"><b><sup>1</sup> This download link will expire in 7 days<b></small>
    </columns>
  </row>

  <br />

  <row class="footer text-center">
    <columns>
      <small>
        Need <b>Cannabis Distribution Software</b> and more?<br />
        Let's chat and see if we can help! Drop us a line:<br /><br />
        Phone: 603.630.0282<br />
        Email: <a href='mailto:hello@distru.com?subject=Distru%20Software%20Inquiry'>hello@distru.com</a>
      </small>
    </columns>
  </row>
</container>
